<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <hr class="light">
                <p class="text-faded">Welcome to Wizard of Ads, where magic meets marketing.</p>
                <p class="text-faded">Our story begins with a passion for turning ordinary brands into extraordinary enchantments.</p>
                <p class="text-faded">As a team of seasoned sorcerers, we believe that every business has a unique magic waiting to be discovered. Our mission is to unleash that magic and create captivating stories that resonate with your audience.</p>
            </div>
        </div>
    </div>
</section>
