  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <h2 class="section-heading">We've got what you need!</h2>
            <hr class="light">
            <p class="text-faded">Ready to elevate your marketing magic? Let's collaborate to cast spells that exceed your business goals. Click 'Begin Your Spell' to explore the magical possibilities.</p>
            <a href="#" class="btn btn-default btn-xl">Begin your Spell</a>
          </div>
      </div>
  </aside>
