<footer id="footer">
    <div class="container">
        <div class="row pt-4"> <!--
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact the Wizards</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div> -->
            <div class="col-lg-4 text-center">
                <a href="Wizard of Ads Limited Terms and Conditions.pdf">
                    <p>Terms & Conditions</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <p>© 2023 Wizard of Ads | All Rights Reserved</p>
            </div>
            <div class="col-lg-4 text-center">
                <a href="Wizard of Ads Limited Privacy Policy.pdf">
                    <p>Privacy Policy</p>
                </a>
            </div>
        </div>
    </div>
</footer>
