<footer id="footer">
    <div class="container">
        <div class="row pt-4"> <!--
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact the Wizards</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div> -->
            <div class="col-lg-4 text-center">
                <a href="Wizard of Ads Limited Terms and Conditions.pdf">
                <i class="fa fa-solid fa-file-contract fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Terms & Conditions</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <p>© 2023 Wizard of Ads | All Rights Reserved</p>
            </div>
            <div class="col-lg-4 text-center">
                <a href="Wizard of Ads Limited Privacy Policy.pdf">
                <i class="fa-duotone fa-blinds fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Privacy Policy</p>
                </a>
            </div>
        </div>
        <div class="cookie-popup cookie-popup--short cookie-popup--dark">
            <p>This website uses cookies to provide you with a great user experience. By using it, you accept our <a href="Wizard of Ads Limited Privacy Policy.pdf">Privacy Policy</a></p>
            <div class="cookie-popup-actions">
                <button>Okay</button>
            </div>
        </div>
    </div>
</footer>
